@use "../../presets" as *;
@use "../../mixins" as *;

.weather {
    padding-top: 178px;

    @media (max-width: 470px) {
        padding-top: 60px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__temperature {
        margin: 0;
        font-size: 180px;
        color: var(--color-white);

        @media (max-width: 470px) {
            font-size: 120px;
        }
    }
    &__units {
        position: absolute;
        top: 13px;
        right: -30px;
        font-size: 65px;
        color: var(--color-white);
    }
    &__icon {
        width: 138px;
        height: 138px;

        @media (max-width: 470px) {
            width: 80px;
            height: 80px;
        }
    }
    &__description {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: var(--color-white);
    }
}

.weather-info {
    padding-top: 218px;
    padding-bottom: 122px;
    align-self: normal;

    @media (max-width: 750px) {
        padding-top: 100px;
        padding-bottom: 20px;
    }

    &__list {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style-type: none;
        display: grid;

        grid-template-areas: "a1 a2 a3 a4";

        @media (max-width: 800px) {
            grid-template-areas: "a1 a2"
                                 "a3 a4";
            gap: 20px;
        }

        @media (max-width: 500px) {
            grid-template-areas: "a1"
                                 "a2"
                                 "a3"
                                 "a4";
            gap: 20px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;

        &:not(:last-child) {
            @media (max-width: 750px) {
                margin-bottom: 25px;
            }
        }
    }   
    &__item span {
        display: block;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 22px;
        color: var(--color-white);
        opacity: 0.6;
    }
    &__item p {
        margin: 0;
        font-size: 25px;
        line-height: 30px;
        color: var(--color-white);
    }
}

@for $i from 1 through 9 {
    .weather-info__list:nth-of-type(#{$i}) {
      grid-area: a#{$i};
    }
}